<ion-header>

  <ion-navbar>
    <ion-title>Receipts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>

  <section>

    <ion-item-divider>
      Used receipts
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let receipt of receipts | async">
        <ion-thumbnail item-left>
          <img *ngIf="!receipt.user.photoURL == ''"
            [src]="receipt.user.photoURL">
          <img *ngIf="receipt.user.photoURL === ''"
            src="../../assets/imgs/logo.png">
        </ion-thumbnail>
        <h2>{{ receipt.title | titlecase }}</h2>
        <p>2018.01.01</p>
        <p>{{ receipt.user.displayName }}</p>
        <p>{{ receipt.user.email }}</p>
        <button ion-button clear item-right></button>
      </ion-item>
    </ion-list>

  </section>

</ion-content>
