page-business {
  ion-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0!important;
    ion-item {
      max-width: 280px;
      border: 1px solid lightgray!important;
    }
    button {
      max-width: 280px;
      border-radius: 0!important;
    }
  }
}

