<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only (click)="openFiltersModal()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-grid no-padding>

    <h1>Categories</h1>
    <ion-row nowrap id="categories">

      <div ion-col col-3 *ngFor="let appointment of appointments | async">
        <img src="assets/imgs/salon3.jpg" />
        <h2>{{ appointment.title | titlecase }}</h2>
      </div>

    </ion-row>


    <h1>Featured</h1>
    <ion-card *ngFor="let appointment of appointments | async"
      class="example-card"
      [@cardAnimator]="appointment.animationState"
      (@cardAnimator.done)="resetAnimationState(appointment)"
      (swipeleft)="startAnimation(appointment, 'slideOutLeft')"
      (swiperight)="startAnimation(appointment, 'zoomOutRight')"
      (swipeup)="startAnimation(appointment, 'rotateOutUpRight')"
      (swipedown)="startAnimation(appointment, 'flipOutY')"
      (click)="openDetailsPage(appointment)">

      <img src="assets/imgs/salon1.jpg">

      <div class="header">
        <p>{{ markers[0]?.distance | number : '1.2-2' }} km</p>
        <p>
          <span class="price">{{ appointment.price }}</span>
          <span class="discount">{{ appointment.discount }} DKK</span>
        </p>
      </div>

      <h2 class="title">{{ appointment.companyTitle | titlecase }}</h2>

      <div ion-item class="info">
        <p>Available: 16:00 - 18:00</p>
        <button ion-button clear icon-only item-end (click)="like($event, appointment.companyId)" >
          <ion-icon *ngIf="isFavorite(appointment.companyId)"  name="heart"></ion-icon>
          <ion-icon *ngIf="!isFavorite(appointment.companyId)"  name="heart-outline"></ion-icon>
        </button>

        <button mat-raised-button color="primary" (tap)="startAnimation(appointment, 'wobble')">WOBBLE</button>
        <button mat-raised-button color="primary" (tap)="startAnimation(appointment, 'swing')">SWING</button>

        <button hammertime mat-raised-button color="accent" (doubleTap)="startAnimation(appointment, 'jello')">JELLO (doubleTap)</button>


      </div>

    </ion-card>
  </ion-grid>

</ion-content>
