page-home {
  ion-content {
    ion-grid {
      h1 {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 10px;
        color: #488aff;
      }
      ion-row {
        overflow-y: auto;
        &#categories {
          padding-left: 0.5em;
          div {
            margin-right: 1em;
            img{
              width: 50%;
            }
            h2 {
              margin-top: 0;
              font-size: 1em;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
      ion-card {
        position: relative;
        ion-avatar{
          width: 60px;
          margin: 0 auto;
          position: absolute;
          right: 0;
          top: 0;
        }
        .header {
          position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          bottom: 4.9em;
          padding: 0.5em;
          background-color: rgba($color: #000000, $alpha: 0.6);
          p {
            color: white!important;
            .discount {
              font-weight: bold;
              color: gold;
            }
            .price {
              text-decoration: line-through;
              font-style: italic;
            }
          }
          .logoUrl {
            width: initial;
            height: 40px;
          }
        }
        .title {
          width: 100%;
          text-align: center;
          font-size: 1em;
          font-weight: bold;
          margin-top: 0.5em;
          white-space: nowrap;
        }
        .info {}
      }
    }
  }
}

