page-business-home {
  ion-content {
    ion-grid {
      h1 {
        font-size: 1.7rem;
        font-weight: 600;
        padding-left: 10px;
      }
      ion-card {
        position: relative;
        .header {
          position: absolute;
          display: flex;
          justify-content: space-between;
          width: 100%;
          bottom: 4.9em;
          padding: 0.5em;
          background-color: rgba($color: #000000, $alpha: 0.6);
          p {
            color: gold;
            font-weight: bold;
            .discount {
              font-weight: bold;
              color: gold;
            }

            .price {
              color: white;
              font-weight: normal;
              text-decoration: line-through;
              font-style: italic;
            }

            .date {
              color: white;
              font-weight: bold;
              font-size: 1.2em;
            }
            .time {
            }

          }
        }
        .title {
          width: 100%;
          font-size: 1em;
          font-weight: bold;
          margin-top: 0.5em;
          white-space: nowrap;
        }
        .info{
           span {
             font-weight: bold;
           }
        }
      }
    }
  }
}

